:root {
  --primary-color: rgb(24, 28, 250);
  --secondary-color: rgb(100, 102, 247);
  --tertiary-color: rgb(147, 149, 243);
}

/* utility classes */
.btn-primary {
  line-height: 1.5;
  color: whitesmoke;
  background-color: var(--primary-color);
  padding: 8px 16px;
  margin: 4px 0;
  border: 2px solid;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-primary-mousedown:hover {
  background-color: var(--primary-color);
}

/* document styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 40px;
}

p {
  font-size: 18px;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.high-scores {
  color: var(--primary-color);
}

/* quiz-start styles */
.quiz-start {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.quiz-start h1 {
  font-size: 36px;
  margin-bottom: 16px;
}

.quiz-start button {
  margin-top: 16px;
}

/* question styles */
.question-flex {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.question {
  display: inline-block;
}

.question h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.question h3 b {
  font-size: 32px;
  font-style: oblique;
}

.answers li {
  list-style-type: none;
}

/* End Screen Styles */
.quiz-end {
  width: 40%;
  margin: 50px auto 0;
  text-align: center;
  background-color: var(--tertiary-color);
  padding: 50px 25px;
  border: 3px solid var(--primary-color);
}

.quiz-end h2 {
  margin-bottom: 8px;
}

.score-report {
  margin-bottom: 12px;
}

.score {
  color: rgb(156, 224, 156);
}

.timer {
  color: red;
}

.save-score {
  width: 60%;
  margin: auto;
  text-align: left;
  font-size: 14px;
}

.save-score input {
  display: block;
  width: 100%;
  margin-top: 1px;
  padding: 4px;
  background-color: rgb(177, 229, 233);
  border: 1px solid;
  border-radius: 6px;
}