:root {
  --primary-color: rgb(24, 28, 250);
  --secondary-color: rgb(100, 102, 247);
}

/* utility classes */
.btn-primary {
  line-height: 1.5;
  color: whitesmoke;
  background-color: var(--primary-color);
  padding: 8px 16px;
  margin: 4px 0;
  border: 2px solid;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-primary-mousedown:hover {
  background-color: var(--primary-color);
}

/* document styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 40px;
}

p {
  font-size: 18px;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.high-scores {
  color: var(--primary-color);
}

/* quiz-start styles */
.quiz-start {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.quiz-start h1 {
  font-size: 36px;
  margin-bottom: 16px;
}

.quiz-start button {
  margin-top: 16px;
}

/* dynamically generated question styles */
.question-flex {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.question {
  display: inline-block;
}

.question h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.question h3 b {
  font-size: 32px;
  font-style: oblique;
}

.answers li {
  list-style-type: none;
}


